@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /*font-family: 'Nothing You Could Do';*/
  /*font-family:  Helvetica;*/
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  nav{
    max-width: 460px;
    display:block;
    width: 100%;
    height: 170px;
    padding: 40px;
    border: 1px;
    font-size: 65px;
    text-size-adjust:  50px ;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    padding: 15px;
    margin: 15px;

  }
  
}


